[Unit]
Description=Vision Landing System

[Service]
Environment=XAUTHORITY=/home/pi/.Xauthority
Environment=DISPLAY=:0.0
ExecStart=/home/pi/vision_landing/vision_landing
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target